@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: #0a0a0a;
  --color-foreground: #ededed;

  --font-sans: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --animate-spin-around: spin-around var(--speed) linear infinite;
  --animate-border-beam: border-beam calc(var(--duration)*1s) infinite linear;

  @keyframes spin-around {
    0% {
      transform: translateZ(0) rotate(0);
    }

    15%,
    35% {
      transform: translateZ(0) rotate(90deg);
    }

    65%,
    85% {
      transform: translateZ(0) rotate(270deg);
    }

    100% {
      transform: translateZ(0) rotate(360deg);
    }
  }

  @keyframes border-beam {
    100% {
      offset-distance: 100%;
    }
  }
}

:root {
  color-scheme: dark;
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}